body {
  background-color: #003366;
  font-family: monospace;

}

h1 {
  text-align: center;
}

.header {
  color: #fff;
}

.header ul {
  list-style: none;
  padding-left: 0;
}

.container {
  width: 60%;
}

@media (min-width: 1000px) {
  .container {
    width: 50%;
  }
}

#chat {
  width: 100%;
  height: 550px;
  border: 1px solid black;
  margin-bottom: 10px;
  /*overflow-y: scroll;*/
  overflow: auto;
  background-color: #fff;
}

.input {
  /*float: left;*/
  display: inline;
}

input {
  width: 100%;
  display: inline;
}

.input form {
  display: inline;
}

#messages {
  list-style: none;
  margin-top: 10px;
  padding-left: 15px;
}

#messages li {
  font-size: 16px;
}

#room-list {
  color: #fff;
  float: right;
  display: inline;
  font-size: 16px;
  list-style: none;
}

.chat-title {
  font-size: 16px;
  color: #fff;
}

.footer {
  color: #fff;
  margin-top: 10px;
}